<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Pinpoint Growth</display-name>
  <description>
        This is an application built to aid teachers in tracking their progross based upon thier student's growth.
    </description>
  <error-page>
    <error-code>500</error-code>
    <location>/loginPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/loginPage.jsp</location>
  </error-page>
  <error-page>
    <location>/loginPage.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>NewUserValidationBean</servlet-name>
    <servlet-class>com.pinpointgrowth.beans.NewUserValidationBean.java</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewUserSaveActionBean</servlet-name>
    <servlet-class>com.pinpointgrowth.beans.NewUserSaveActionBean.java</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParseExcel</servlet-name>
    <servlet-class>com.pinpointgrowth.excel.ParseExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParseExcel</servlet-name>
    <url-pattern>/ParseExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseAddManual</servlet-name>
    <servlet-class>com.pinpointgrowth.manualcourseadd.CourseAddManual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAddManual</servlet-name>
    <url-pattern>/CourseAddManual</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateRubric</servlet-name>
    <servlet-class>com.pinpointgrowth.createrubric.CreateRubric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRubric</servlet-name>
    <url-pattern>/CreateRubric</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrepareCourseRubricListBean</servlet-name>
    <servlet-class>com.pinpointgrowth.prepareFrontEnd.PrepareCourseRubricListBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareCourseRubricListBean</servlet-name>
    <url-pattern>/PrepareCourseRubricListBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRubricToCourse</servlet-name>
    <servlet-class>com.pinpointgrowth.addrubrictocourse.AddRubricToCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRubricToCourse</servlet-name>
    <url-pattern>/AddRubricToCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCourse</servlet-name>
    <servlet-class>com.pinpointgrowth.viewcourse.ViewCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourse</servlet-name>
    <url-pattern>/ViewCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentEvaluation</servlet-name>
    <servlet-class>com.pinpointgrowth.scoreinput.StudentEvaluation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEvaluation</servlet-name>
    <url-pattern>/StudentEvaluation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScoreInput</servlet-name>
    <servlet-class>com.pinpointgrowth.scoreinput.ScoreInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreInput</servlet-name>
    <url-pattern>/ScoreInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveScores</servlet-name>
    <servlet-class>com.pinpointgrowth.scoreinput.SaveScores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveScores</servlet-name>
    <url-pattern>/SaveScores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tier</servlet-name>
    <servlet-class>com.pinpointgrowth.tier.Tier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tier</servlet-name>
    <url-pattern>/Tier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrowthTargets</servlet-name>
    <servlet-class>com.pinpointgrowth.tier.GrowthTargets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrowthTargets</servlet-name>
    <url-pattern>/SaveTargets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EvaluateTeacher</servlet-name>
    <servlet-class>com.pinpointgrowth.evaluateteacher.EvaluateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluateTeacher</servlet-name>
    <url-pattern>/EvaluateTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Extension</servlet-name>
    <servlet-class>com.pinpointgrowth.extension.Extension</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Extension</servlet-name>
    <url-pattern>/Extension</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LockScores</servlet-name>
    <servlet-class>com.pinpointgrowth.lockScores.LockScores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockScores</servlet-name>
    <url-pattern>/LockScores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LateStudentAdd</servlet-name>
    <servlet-class>com.pinpointgrowth.manualcourseadd.LateStudentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LateStudentAdd</servlet-name>
    <url-pattern>/SaveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>com.pinpointgrowth.manualcourseadd.RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveStudentSave</servlet-name>
    <servlet-class>com.pinpointgrowth.manualcourseadd.RemoveStudentSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudentSave</servlet-name>
    <url-pattern>/RemoveStudentSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExtensionMet</servlet-name>
    <servlet-class>com.pinpointgrowth.extension.ExtensionMet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtensionMet</servlet-name>
    <url-pattern>/ExtensionMet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExtensionMetSave</servlet-name>
    <servlet-class>com.pinpointgrowth.extension.ExtensionMetSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtensionMetSave</servlet-name>
    <url-pattern>/ExtensionMetSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PickTestMethod</servlet-name>
    <servlet-class>com.pinpointgrowth.traditional.PickTestMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PickTestMethod</servlet-name>
    <url-pattern>/PickTestMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCourseTraditional</servlet-name>
    <servlet-class>com.pinpointgrowth.traditional.ViewCourseTraditional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourseTraditional</servlet-name>
    <url-pattern>/ViewCourseTraditional</url-pattern>
  </servlet-mapping>
</web-app>